:root {
  --bg-primary: #0f1418;
  --bg-secondary: #171d22;
  --border: #2e3a42;

  --text-primary: #e6edf3;
  --text-secondary: #a4b4bf;

  --accent: #5c7d8d;
  --accent-hover: #7fa2b3;
  --silver: #b7c6cc;
  --alert: #8e3d3d;
}